<!doctype html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ Name }}</title>
  <link href="/css/tachyons.css" rel="stylesheet">
  <body class="sans-serif near-black ph2 ph5-ns">
    <nav>
    <p class="f6">
      <a class="no-underline secondary" href="/">&larr; Index</a>
    </p>
    </nav>
    <main class="cf-ns f4">
    <h2 class="">{{ Name }}</h2>
    <img src="{{ Pic }}" alt="Where {{ Name }} lives">
    
    <p>{{ Age }}</p>
    <p>{{ Trait }}</p>
    <p>{{ Fave }}</p>
    
    <img src="{{ Habitat }}" alt="Where {{ Name }} lives">
    
    </main>

  </body>
</html>